@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$lime:#00fdbe;
$purple: #a45e8d;
$trans-pink: #F5A9B8;
$beige-light: #eaeaea;
$trans-blue: #5bcefa;
$greyish: #1d1d1d;
$mauve: #cba6f7;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: #313244;
$grey-light: #45475a;
$primary: #cdd6f4;
$link: $mauve;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #1e1e2e;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


//my shit
$title-color: $mauve;
$input-color: #b4befe;
$primary: #cdd6f4;
$text-strong: #b4befe;
$text: #cdd6f4;
/////navbar
$navbar-background-color: #181825;
$navbar-item-color: #cba6f7;
$navbar-item-hover-background-color: #11111b;
$navbar-dropdown-background-color: #11111b;
$navbar-dropdown-item-hover-color: #cba2fc;
$navbar-dropdown-item-hover-background-color: #11111b;
$navbar-divider-background-color: #585b70;
//$navbar-dropdown-item-active-color: $off-off-off-dark;
//$navbar-dropdown-item-active-background-color: $off-off-dark;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";